---
import Mainlayout from "../layouts/mainlayout.astro";
import { marked } from "marked";
import { getSupabaseServer } from "../../lib/supabaseServer";


const supabase = getSupabaseServer(Astro);



const { slug } = Astro.params;


const { data: posts, error } = await supabase
    .from("posts")
    .select("*")
    .eq("slug", slug)
    .single();

    if (error || !posts) {
    console.error("Post not found", error);
    return new Response("Post not found", { status: 404 });
}

const id = posts.id;
const title = marked.parse(posts.title);
const body = marked.parse(posts.body);

 

let { data: comments, error: commentserror } = await supabase
  .from('comments')
  .select(`
    *,
    users_data (
      name
    ),
    replies (
      *,
      users_data (
        profile_photo,
        name
      )
    )
  `)
  .eq("post_commented", posts.id);

if (commentserror) {
  console.error("Error fetching comments:", commentserror);
} else {
  console.log("Comments array:", JSON.stringify(comments, null, 2));

  comments.forEach(comment => {

    
    console.log("Comment:", comment.content_comment, "by", comment.users_data?.name );

    comment.replies?.forEach(reply => {
      console.log("  Reply:", reply.content_replies, "by", reply.users_data?.name);
    });
  });
}

export function formatdate (posted_date): string {
    return new Date(posted_date).toLocaleDateString("en-GB", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
} 

import MilkdownUpdate from "../components/milkdownup"
---

<Mainlayout>

                        <div id={id} tabindex="-1" data-modal-backdrop="static" class="fixed top-0 left-0 right-0 z-50 w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full justify-center items-center flex bg-dark-backdrop/70 fixed inset-0 z-40">
                                    <div class="relative w-full max-w-4xl max-h-full">
                                <div class="relative bg-neutral-primary-soft border border-default rounded-base shadow-sm p-4 md:p-6">
                                            <!-- Modal header -->
                                            <div class="flex items-center justify-between border-b border-default pb-4 md:pb-5">
                                                <h3 class="text-lg font-medium text-heading">
                                                    Update your review
                                                </h3>
                                                <a href={"/blog/"+slug} class="text-body bg-transparent hover:bg-neutral-tertiary hover:text-heading rounded-base text-sm w-9 h-9 ms-auto inline-flex justify-center items-center">
                                                    <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6"/></svg>
                                                    <span class="sr-only">Close modal</span>
                                                </a>
                                            </div>
                                            <!-- Modal body -->
                                            <div id="update" class="space-y-4 md:space-y-6 py-4 md:py-6">
                                                <MilkdownUpdate client:only="react" postid={id} />
                                            </div>
                                            <!-- Modal footer -->
                                            <div class="flex items-center border-t border-default space-x-4 pt-4 md:pt-5">
                                                <button id="updateBtn" class="text-white bg-brand box-border border border-transparent hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">Update</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                
<main class="pt-8 pb-16 lg:pt-16 lg:pb-24 bg-gray-900 antialiased">
    <div class="flex justify-between px-4 mx-auto max-w-screen-xl">
        <article class="mx-auto w-full max-w-2xl not-format text-white">
            <header class="mb-4 lg:mb-6">
                <address class="flex items-center mb-6 not-italic">
                    <div class="inline-flex items-center mr-3 text-sm text-white">
                        <img class="mr-4 w-16 h-16 rounded-full" src={posts?.users_data?.profile_photo ?? "/profile-photo.webp"} alt="Jese Leos">
                        <div>
                            <a href="#" rel="author" class="text-xl font-bold text-white">{posts.author_name + " " + posts.author_last_name}</a>
                            <p class="text-base text-white">
                                <time pubdate datetime="2022-02-08" title="February 8th, 2022">{formatdate(posts.date_posted)}</time>
                            </p>
                        </div>
                    </div>
                </address>
                <h1 class="mb-4 text-3xl font-extrabold leading-tight lg:mb-6 lg:text-4xl text-white">
                    <div set:html={title} ></div>
                </h1>
            </header>
            <article class="format format-lg dark:format-invert">
                <div set:html={body}></div>
            </article>
            <section class="not-format">
                <div class="flex justify-between items-center mb-6">
                    <h2 class="text-lg lg:text-2xl font-bold text-gray-900 dark:text-white mt-10">Discussion (20)</h2>
                </div>
                <form class="mb-6" action="/api/post/comment" method="post">
                    <div class="py-2 px-4 mb-4 bg-white rounded-lg rounded-t-lg border border-gray-200 dark:bg-gray-800 dark:border-gray-700">
                        <label for="comment" class="sr-only">Your comment</label>
                        <textarea id="comment" name="comment" rows="6"
                        class="px-0 w-full text-sm text-gray-900 border-0 focus:ring-0 dark:text-white dark:placeholder-gray-400 dark:bg-gray-800"
                        placeholder="Write a comment..." required></textarea>
                        <input type="hidden" name="post_commented" value={posts.id} />
                    </div>
                    <button type="submit" class="inline-flex items-center py-3.5 px-4 text-xs font-medium text-center text-white bg-emerald-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                        Post comment
                    </button>
                </form>
            </section> 
                
            <!-- Comments -->
            {comments.map((single_comment) => (
                
            <article class="p-6 mb-6 text-base bg-white rounded-lg dark:bg-gray-900">
                <footer class="flex justify-between items-center mb-2">
                    <div class="flex items-center">
                        <p class="inline-flex items-center mr-3 font-semibold text-sm text-gray-900 dark:text-white">
                            <img class="mr-2 w-6 h-6 rounded-full" src="https://flowbite.com/docs/images/people/profile-picture-2.jpg" alt="Michael Gough" />
                            {single_comment.users_data.name}
                        </p>
                        <p class="text-sm text-gray-600 dark:text-gray-400">
                            <time pubdate datetime="2022-02-08" title="February 8th, 2022">{formatdate(single_comment.posted)}</time>
                        </p>
                    </div>
                </footer>
                <p>{single_comment.content_comment}</p>
                <div class="flex items-center mt-4 space-x-4 w-full">
                    <form class="w-full" method="post" action="/api/post/reply">
                        <label for="chat" class="sr-only">Your message</label>
                        <div class="flex items-center px-3 py-2 rounded-base">
                            <p class="flex items-center font-medium text-sm text-gray-500 dark:text-gray-400 w-50%">
                                <svg class="mr-1.5 w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                                    <path d="M18 0H2a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h2v4a1 1 0 0 0 1.707.707L10.414 13H18a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5 4h2a1 1 0 1 1 0 2h-2a1 1 0 1 1 0-2ZM5 4h5a1 1 0 1 1 0 2H5a1 1 0 0 1 0-2Zm2 5H5a1 1 0 0 1 0-2h2a1 1 0 0 1 0 2Zm9 0h-6a1 1 0 0 1 0-2h6a1 1 0 1 1 0 2Z"/>
                                </svg>
                                Reply
                            </p>
                            <input type="hidden" id="replied_comment" name="replied_comment" value={single_comment.id_comment}>
                            <textarea id="content_reply" name="content_reply" rows="1" class="dark:placeholder-gray-400 dark:bg-gray-800 mx-4 bg-neutral-primary-medium  text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 placeholder:text-body" placeholder="Your message..."></textarea>
                                <button type="submit" class="inline-flex justify-center p-2 text-fg-brand rounded-full cursor-pointer hover:bg-brand-softer">
                                <svg class="w-6 h-6 rotate-90 rtl:-rotate-90" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m12 18-7 3 7-18 7 18-7-3Zm0 0v-5"/></svg>
                                <span class="sr-only">Send message</span>
                            </button>
                        </div>
                    </form>
                </div>
            

                {single_comment.replies?.map((reply) => (
                <article class="p-6 mb-6 ml-6 lg:ml-12 text-base bg-white rounded-lg dark:bg-gray-900">
                    <footer class="flex justify-between items-center mb-2">
                        <div class="flex items-center">
                            <p class="inline-flex items-center mr-3 font-semibold text-sm text-gray-900 dark:text-white">
                                <img class="mr-2 w-6 h-6 rounded-full" src="https://flowbite.com/docs/images/people/profile-picture-5.jpg" alt="Jese Leos" />
                                {reply.users_data?.name ?? "Usuario"}
                            </p>
                            <p class="text-sm text-gray-600 dark:text-gray-400">
                                <time pubdate datetime="2022-02-12" title="February 12th, 2022">{formatdate(reply.posted)}</time>
                            </p>
                        </div>
                    </footer>
                    <p>{reply.content_replies}</p>
                </article>
                ))}
            </article>
            ))}
        </article>
    </div>
</main>

</Mainlayout>